* {
    box-sizing: border-box;
}

#container {
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    width: 598px;
    height: 598px;
    overflow: hidden;
}

.square {
    background-color: white;
    border: 1px solid black;
    margin: 0;
    user-select: none;
}

.square:hover {
    background-color: black;
}
